@import '../../common.scss';

.vault-container {
  padding-top: 120px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #020510;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .miner-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    width: 100%;
  }

  .miner-description {
    font-size: 18px;
    line-height: 21px;
    opacity: 0.5;
    margin-bottom: 60px;
    text-align: left;
    width: 100%;
  }

  .section-card {
    background: #1C1E25;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .post-tweet {
    padding: 18px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .post-info {
      font-size: 28px;
      line-height: 33px;

      .hashtag {
        color: #1DA1F2;
      }
    }
  }

  .miner-tweet {
    display: flex;
    flex-direction: column;
    padding: 24px;

    .gpt-evaluation {
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;

      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 18px;

        .text {
          font-size: 20px;
          line-height: 23px;
          font-weight: bold;
          color: #FFFFFF;
          opacity: 0.6;
        }

        .tag {
          padding: 3px 5px;
          margin-left: 20px;
          background: rgba(255, 255, 255, 0.18);
          border-radius: 30px;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          opacity: 0.6;
        }
      }

      .evaluation {
        font-size: 18px;
        line-height: 21px;
      }
    }

    .tweet {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.13);
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 14px;
      overflow: hidden;

      .avatar {
        width: 62px;
        height: 62px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }
      }

      .tweet-content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        max-width: 80%;
        height: 100%;

        .user-row {
          margin-bottom: 5px;

          &:hover {
            cursor: pointer;
          }

          .username {
            font-size: 20px;
            line-height: 23px;
            color: #fff;
            margin-right: 12px;
          }

          .twitter-name {
            font-size: 20px;
            line-height: 23px;
            opacity: 0.5;
          }
        }

        .content-row {
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .mining-indicator {}

      .corner-tag {
        position: absolute;
        padding: 5px 10px;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 0px 5px 0px 5px;
        font-weight: 400;
        // font-size: 8px;
        line-height: 11px;
        white-space: nowrap;
        display: flex;
        
        .icon {
          margin-right: 4px;
        }
      }
    }
  }

  .action-btn {
    padding: 6px 12px;
    min-width: 100px;
    display: flex;
    height: fit-content;
    align-items: center;
  }

  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;

    .mining-reward {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .label-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .reward-row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;

        .balance {
          font-size: 2rem;
          font-weight: bold;
          flex-grow: 1;
        }

        .unit {
          font-size: 2rem;
          font-weight: bold;
        }

        .network-tag {
          color: $text-light-color;
          font-size: 0.7rem;
          padding: 2px 4px;
          background: rgb(48, 48, 48);
          border-radius: 8px;
          margin-left: 4px;
        }
      }
    }

    .tweet-status {
      display: flex;
      flex-direction: column;
      width: 100%;

      .no-tweet-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 500;

        .row {
          margin-bottom: 30px;
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
      }

      .tweet-label {
        margin-bottom: 20px;
      }

      .post-hint {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .text {
          margin-bottom: 20px;
        }

        .action-btn {
          font-size: 1rem;
        }
      }

      .tweet-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .miner-tweet {
          display: flex;
          margin-bottom: 5px;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-right: 20px;

            &:hover {
              cursor: pointer;
            }
          }

          .tweet-content {
            display: flex;
            flex-direction: column;

            .author {
              width: fit-content;
              border-bottom: 1px solid;
              padding-bottom: 1px;
              font-weight: 500;
              margin-bottom: 4px;
            }

            .author,
            .content {
              &:hover {
                text-shadow: 1px 1px 1px #ffffff8b;
                cursor: pointer;
              }
            }
          }
        }

        .status {
          // font-size: 1.5rem;
          align-items: center;
          display: flex;
          margin-left: 20px;

          .tag {
            display: flex;
            padding: 4px 8px;
            background: rgb(48, 48, 48);
            border-radius: 10px;

            .text {
              margin-left: 5px;
              white-space: nowrap;
            }
          }
        }
      }

      // .tweet-submit-status {
      //   display: flex;
      //   align-items: center;
      //   margin-bottom: 20px;

      //   .mark {
      //     font-size: 1.5rem;
      //     margin-right: 10px;
      //   }

      //   .info {
      //     color: $text-light-color;
      //   }
      // }

      // .score-status {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   font-size: 1.1rem;

      //   .info {
      //     color: $text-light-color;
      //   }

      //   .value {
      //     font-weight: 600;
      //   }
      // }

      .gpt-row {
        overflow: hidden;
        // transition: max-height 0.5s ease-in-out;
        // max-height: 300px;

        // &.hide {
        //   max-height: 0px;
        // }

        .gpt-evaluation {
          padding: 20px;
          border-radius: 15px;
          border: 1px solid #848484;

          .title {
            font-weight: 500;
            margin-bottom: 5px;
          }

          .content {
            color: #a2a2a2;

            .count-down {
              margin-left: 5px;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .divider {
    width: 100%;
    border-top: 1px solid $text-light-color;
  }
}

@media only screen and (max-width: 991px) {
  .vault-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;

    .action-btn {
      min-width: 60px;
    }

    .user-section {
      padding-bottom: 30px;

      .mining-reward {
        .reward-row {
          margin-top: 10px;

          .balance,
          .unit {
            font-size: 1.2rem;
          }
        }
      }

      .tweet-status {
        .miner-tweet {
          .avatar {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            margin-right: 10px;
          }
        }

        .score-status {
          font-size: 1rem;

          .info {
            color: $text-light-color;
          }

          .value {
            white-space: nowrap;
            font-weight: 500;
            margin-left: 20px;
          }
        }
      }
    }
  }
}