.content-container {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  font-family: 'Space Mono', monospace;

  .title-section {
    color: #fff;
    padding: 80px;

    .title {
      font-size: 2.5rem;
      font-weight: 900;
    }

    .description {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 28px;

      .superscript {
        text-align: center;
        position: relative;
        top: -9px;
        font-size: 0.8rem;
        border: 1px solid;
        border-radius: 100%;
        letter-spacing: -1px;
        width: 17px;
        height: 17px;
        display: inline-block;
        line-height: 15px;
      }
    }

    .action-btn {
      width: fit-content;
      padding: 8px 16px;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .type-form-link {
    padding: 0 80px;

    .action-btn {
      width: fit-content;
      padding: 5px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .content-container {
    .title-section {
      padding: 20px 40px;
    }
  }
}