.mobile-drawer.ant-drawer-content {
  color: #ffffff;
  background: #10121A;
  border-radius: 20px 20px 0 0;

  .ant-drawer-body {
    padding: 16px 27px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }
}