.auth-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background: #000000;
}

.logo-container {
  margin-top: 150px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;

  .logo {
    width: 120px;
    opacity: 0.8;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 0px auto;

  .connect-btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;

    &.disabled {
      opacity: 0.5;
    }
  }
}

@media only screen and (max-width: 991px) {
  .btn-container {
    max-width: 300px;
  
    .connect-btn {
      height: 40px;
      font-weight: 500;
    }
  }
}