@import '../../common.scss';

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 2rem;
    padding: 40px;
    letter-spacing: .1rem;
  }

  .description {
    .info {
      color: $text-light-color;
      padding: 0px 20px;
      text-align: center;

      .label {
        color: #fff;
        font-weight: 500;
      }

      .link {
        margin-left: 5px;
        color: rgb(71, 161, 255);
        text-decoration: underline;

        &:hover {
          color: #1677ff;
        }
      }
    }

    .sub-title {
      text-align: center;
      margin: 10px;
    }
  }

  .dashboard {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .row {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
          font-size: 1.1rem;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .value {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  .leaderboard-table-container {
    margin-bottom: 50px;
    .leaderboard-table {
      border-collapse: collapse;
      text-align: center;

      tr {
        height: 80px;
        
        &.tr-user {
          background: rgb(23, 23, 23);
        }        
      }

      th,
      td {
        border: 1px solid rgb(48, 48, 48);
        min-width: 100px;
      }

      .tweet {
        padding: 10px;
        display: flex;
        text-align: initial;

        .avatar {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          margin-right: 5px;
        }

        .content {
          color: $text-light-color;

          .author {
            color: #fff;
          }
        }
      }
    }
  }

}