@import '../../common.scss';

.billboards {
  display: flex;
  margin-top: 20px;

  .billboard-card {
    padding: 20px;
    border-radius: 20px;
    background: $card-background;
    display: flex;
    flex-direction: column;

    .btn-container {
      margin-top: 20px;
      align-items: center;

      .btn {
        height: 34px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: none;
        background: linear-gradient(135deg, #A0204C 0%, #A0204C 10%, #FF6C00 100%);
        color: rgb(255, 255, 255);
        opacity: 0.8;
        font-weight: 700;
  
        &.disabled {
          opacity: 0.4;
        }
    
        &.active:hover {
          opacity: 1;
          cursor: pointer;     
        }
      }
    }
  }
}