.mint-billboard-container {
  padding-top: 70px;
  background: #000;

  .title {
    color: #ffffff;
  }
}

@media only screen and (max-width: 991px) {
  .nft-card {
    max-width: 300px;
  }
}


.nft-card-border {
  padding: 2px;
  background-image: linear-gradient(132deg, #5ddcff, #3c67e3 43%, #4e00c2);
  box-shadow: 0 0 25px 4px #5ddcffa0;
  border-radius: 20px;
  width: fit-content;
  margin: 40px;

  .nft-card {
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    background: #000000;

    .content-container {
      padding-top: 0;
      display: flex;
      flex-direction: column;

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 1.4rem;
          font-family: Gilroy-Bold;
          margin-top: 20px;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

        .description {
          text-align: center;
          color: #b2b2b2;
          margin-bottom: 20px;
        }

        .price {
          display: flex;
          font-size: 1.2rem;
          font-weight: 600;

          .icon {
            margin-right: 4px;
          }
        }
      }

      .btn-container {
        margin-top: 10px;
        align-items: center;
        display: flex;

        .mint-btn {
          padding: 6px 30px;
          border: 2px solid #3e009c;
          background-image: linear-gradient(90deg, #2e0074, #4e00c2 50%, #2e0074);
          font-size: 1rem;
          font-weight: 600;
          border-radius: 10px;
          opacity: 0.9;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
