.mint-billboard-container {
  .title {
    color: #ffffff;
  }
}

@media only screen and (max-width: 991px) {
  .nft-card {
    max-width: 300px;
  }
}

.nft-card {
  background: #ffffff3c;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #ffffff;

  .content-container {
    display: flex;
    flex-direction: column;

    .billboard {
      display: flex;
      justify-content: center;
    }

    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 0%;
      margin-top: 20px;

      .info {
        // .name {
        //   font-size: 30px;
        //   font-weight: 700;
        // }
        margin-bottom: 10px;

        .description {
          font-size: 14px;
        }
      }

      .price {
        display: flex;
        align-items: flex-end;

        .price-title {
          color: #c8c8c8b9;
          margin-right: 10px;
        }

        .price-value {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .btn-container {
    margin-top: 20px;
    max-width: 200px;

    .btn {
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      border: none;
      background: linear-gradient(135deg, #A0204C 0%, #A0204C 10%, #FF6C00 100%);
      color: rgb(255, 255, 255);
      opacity: 0.8;
      font-weight: 700;
      user-select: none;

      &.disabled {
        opacity: 0.4;
      }
  
      &.active:hover {
        opacity: 1;
        cursor: pointer;     
      }
    }
  }
}
