.my-nft-container {
  width: 145px;
  height: 145px;
  color: #FFFFFF;
  background: #020510;
  position: fixed;
  left: calc(50% + 502px);
  top: 264px;

  .no-connect, .no-hnft {
    width: 100%;
    height: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    padding: 20px;

    &:hover {
      cursor: pointer;
      border-style: solid;
    }
  }

  .nft-container {
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    overflow: hidden;

    .avatar {
      width: 100%;
      height: 100%;
    }
  }
}