@import '../../common.scss';

.advertisement-container {
  .bid-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 287px;
    background: #10121A;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;

    .user-info {
      display: flex;
      align-items: center;
    }

    .user-name {
      @include text-overflow(200px);
    }

    .dao-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 12px;
    }

    .dao-info-text {
      color: #FFFFFF;
      font-size: 24px;
    }

    .token-price {
      font-size: 20px;

      .number {
        color: rgba(255, 255, 255, 0.5)
      }
    }

    .token-price,
    .dao-info-text {
      display: flex;
      justify-content: space-between;
    }

    .help {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      padding: 0 12px;
      margin-top: 14px;
    }

    .change.flat {
      background: #4AA372;
      border-radius: 38px;
      height: 24px;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding: 0 8px;
    }
  }

  .sponsor-info {
    padding: 28px 28px 20px 28px;
    background: #161820;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    width: 564px;

    .sponsor-header {
      display: flex;
      align-items: center;
    }

    .sponsor-desc {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      margin-left: 12px;

      >span {
        color: rgba(255, 255, 255, 0.5)
      }
    }

    .ad-section {
      background: #10121A;
      border: 1px solid rgba(255, 255, 255, 0.13);
      border-radius: 10px;
      margin-top: 24px;
      font-size: 24px;
      color: #fff;
      position: relative;

      &-arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate(45deg);
        left: 24px;
        top: -11px;
        z-index: 1;
        background: #10121A;
        border-top-left-radius: 5px;
        border-top: 1px solid rgba(255, 255, 255, 0.13);
        border-left: 1px solid rgba(255, 255, 255, 0.13);
      }

      .action-button {
        padding: 12px;
      }

      .ad-description {
        visibility: hidden;
      }
    }

    .ad-header {
      font-size: 24px;
      color: #fff;
      padding: 24px 24px 8px 24px;
    }

    .ad-content {
      padding: 70px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
      &:hover {
        .ad-description {
          visibility: visible;
        }
      }
    }

    .reward {
      &-amount {
        display: flex;
        align-items: center;
        margin-top: 22px;
      }

      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
      }
    }
  }

  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .footer {
    @include flex();
    text-align: center;
    margin-top: 12px;
    padding: 0 12px;
  }

  .action-button {
    min-width: 100px;
    cursor: pointer;
    padding: 12px 40px;
    width: fit-content;
    border-radius: 30px;
    background: #fff;
    font-size: 20px;
    color: #10121A;
  }

  .ad-button {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 22px;
    color: #fff;

    &:first-child {
      width: 40%;
    }

    &:last-child {
      width: 60%;
    }
  }

  .action-button.left {
    border-radius: 30px 0 0 30px;
    margin-right: 6px;
  }

  .action-button.right {
    border-radius: 0 30px 30px 0;
  }

  .action-button.left.right {
    border-radius: 30px;
  }

  .action-button:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 991px) {
  .advertisement-container {
    width: 100%;

    .bid-section {
      width: fit-content;
      padding: 0;
      border: none;

      // .user-name {
      //   @include text-overflow(140px);
      // }

      .dao-info-text {
        font-size: 22px;
      }

      .token-price {
        font-size: 18px;
      }

      .change.flat {
        font-size: 12px;
      }

      .help {
        font-size: 14px;
        margin-top: 26px;
        padding: 0;
      }

      .footer {
        padding: 0;
      }
    }

    .sponsor-info {
      width: fit-content;
      padding: 0;
      border: none;
      background: none;
      border-radius: 0;

      .ad-header {
        padding: 15px 15px 4px 15px;
      }

      .ad-section,
      .ad-header,
      .sponsor-desc {
        font-size: 15px;
      }

      .ad-content {
        padding: 18px;
      }

      .reward-amount {
        margin-top: 14px;
      }

      .ad-button {
        font-size: 15px;
        margin-top: 0;
      }
    }

    .avatar {
      width: 56px;
      height: 56px;
    }

    .action-button {
      font-size: 18px;
      padding: 10px 12px;
      width: 100%;
    }
  }
}