.header {
  background: #001529 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;

  .logo {
    width: 110px;
    height: 100%;
    display: flex;
  }
}

.sider-menu {
  background: #23103A !important;

  .ant-menu-item {
    color: #ffffffc5 !important;
    font-weight: 600;

    .ant-menu-title-content {
      margin-left: 5px;
    }

    &.ant-menu-item-active {
      background-color: #ffffff1f !important;
    }

    &.ant-menu-item-selected {
      background-color: #ffffff54;
    }
  }
}

.layout-content {
  margin: 0;
  min-height: 100vh !important;
  background: linear-gradient(#23103A 0%, #3a4067 100%);
  padding: 0 20px;
  padding-bottom: 80px;
}

.bottom-menu {
  width: 100%;
  background: #001529;
  height: 64px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-around;

  * {
    color: #ffffff;
  }

  .bottom-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;

    &.active {
      background: #2a2f54;
    }

    .icon {
      margin-bottom: 4px;
    }

    .label {}
  }
}

@media only screen and (min-width: 991px) {
  .bottom-menu {
    display: none;
  }
}