$card-background: #ffffff1f;

$text-light-color: #848484;

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./fonts/Gilroy-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./fonts/Gilroy-Regular.ttf') format('ttf');
}
