.header-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  z-index: 99;

  .logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
    cursor: pointer;

    .logo-img {
      width: 68px;
      height: 68px;
      opacity: 0.8;
    }

    span {
      font-size: 1.8rem;
      font-weight: 900;
      color: #fff;
      margin-left: 5px;
    }
  }

  .connect-wallet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;

    .connect-wallet-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .icon {
        margin-right: 10px;
      }

      span {
        // font-weight: 900;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 4% 2%;
  }

  .logo {
    .logo-img {
      width: 48px !important;
      height: 48px !important;
    }

    span {
      font-size: 1.3rem !important;
      margin-left: -20px !important;
    }
  }

  .connect-wallet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .connect-wallet-btn {
      span {
        font-weight: 900;
        font-size: 0.6rem !important;
      }
    }
  }
}